@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ff3b49;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

main:not(.dark) {
  --background: #ff3b49;
  --foreground: #000000;
  background: var(--background);
  color: var(--foreground);
}

.dialog {
  --background: #000000;
  --foreground: #ff3b49;
  background: var(--background);
  color: var(--foreground);
  &.reverse {
    --background: #ff3b49;
    --foreground: #000000;
    background: var(--background);
    color: var(--foreground);
  }
}

.video-dialog {
  --background: transparent;
  background: var(--background);
}

@supports (-webkit-touch-callout: none) {
  .font-black {
    font-weight: 900;
    -webkit-text-stroke: 1px currentColor;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
